.git
.env
.env.backup
.env.production
.phpunit.cache
node_modules
vendor
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
public/build
public/hot
public/storage
Thumbs.db
